* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
}
.App {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.centerdiv {
  margin: 20px;
  padding: 20px;
  height: 65vh;
  width: 40%;

  background-image: linear-gradient(to top, #1a86aa 0%, #4363d8 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.header {
  padding: 6px 0 2px 0;
  text-align: center;
  background-color: #2849c0;
  border-radius: 20px;
  color: rgb(240, 227, 227);
  line-height: 35px;
}
input[type="text"] {
  position: relative;
  top: -8px;
  margin: 8px;
  padding: 7px;
  border: none;
  border-bottom: 2px solid rgb(97, 184, 39);
  border-radius: 10px;
  overflow: hidden;
  width: 75%;
  box-sizing: border-box;
  text-align: center;
  border-color: transparent;
  font-weight: 700;
}
button {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(15, 200, 247);
  font-size: 40px;
  outline: none;
  display: inline-block;
}
button:hover {
  background-color: rgb(95, 214, 26);
  cursor: pointer;
}
ol {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
ol li {
  list-style-type: none;
}
